In [65]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [66]:
data_url = data_url = "https://raw.githubusercontent.com/environmental-data-science" \
            "/eds217_2023/main/data/BSRN_GOB_2019-10.csv"
bsrn= pd.read_csv(data_url)

In [67]:
#printing a list of data frame's column names
bsrn.columns
#values there are in the entire data frame
bsrn.size #nunber of cells in data frame 

#data type of the first column
print(bsrn.iloc[0].info())

<class 'pandas.core.series.Series'>
Index: 15 entries, DATE to P_hPa
Series name: 0
Non-Null Count  Dtype
--------------  -----
15 non-null     object
dtypes: object(1)
memory usage: 240.0+ bytes
None

1. Create a new DataFrame containing the first record for each day and the following columns: the timestamp of the record, incoming shortwave radiation, direct and diffuse radiation, and incoming longwave radiation. 
(Hint: the BSRN station collects data every minute). 
1. Create a new Series containing the temperature values every hour at the top of the hour.
1. Convert the `DATE` column to `datetime` using the `pd.to_datetime()` function.
1. Set the `DATE` column as the index of the DataFrame using the `set_index()` method.

In [68]:
print(bsrn['DATE'])

0        2019-10-01 00:00:00
1        2019-10-01 00:01:00
2        2019-10-01 00:02:00
3        2019-10-01 00:03:00
4        2019-10-01 00:04:00
                ...
44635    2019-10-31 23:55:00
44636    2019-10-31 23:56:00
44637    2019-10-31 23:57:00
44638    2019-10-31 23:58:00
44639    2019-10-31 23:59:00
Name: DATE, Length: 44640, dtype: object

In [69]:
bsrn['DATE'] = pd.to_datetime(bsrn['DATE'])
bsrn['DATE'].dt.time # extract time from date time 
bsrn['is_first_observation'] = bsrn["DATE"].dt.time == bsrn['DATE'].dt.time[0] 
# making a new column as a list of true or false values where date time is equal to the first value of the day. 
bsrn

,DATE,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa,is_first_observation
0,2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966,True
1,2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966,False
2,2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966,False
3,2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966,False
4,2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964,False
44636,2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964,False
44637,2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964,False
44638,2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964,False
44639,2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964,False

In [70]:
#first find all of the rows where it is the first record of the day and subset by finding specific columns 




bsrn [
    bsrn.DATE.dt.time == bsrn.DATE.dt.time[0] 
][
    ['DATE','SWU_Wm2','DIR_Wm2','DIF_Wm2'] #subsetting with those columns

]

            DATE  SWU_Wm2  DIR_Wm2  DIF_Wm2
0     2019-10-01        0      0.0     -3.0
1440  2019-10-02        0      0.0     -2.0
2880  2019-10-03        0      0.0     -2.0
4320  2019-10-04        0      0.0     -3.0
5760  2019-10-05        0      0.0     -2.0
7200  2019-10-06        0      0.0     -3.0
8640  2019-10-07        0      0.0     -3.0
10080 2019-10-08        0      0.0     -3.0
11520 2019-10-09        0      0.0     -2.0
12960 2019-10-10        0      0.0     -2.0
14400 2019-10-11        0      0.0     -2.0
15840 2019-10-12        0      0.0     -2.0
17280 2019-10-13        0      0.0     -3.0
18720 2019-10-14        0      0.0     -2.0
20160 2019-10-15        0      0.0     -2.0
21600 2019-10-16        0      0.0     -3.0
23040 2019-10-17        0      0.0     -2.0
24480 2019-10-18        0      0.0     -2.0
25920 2019-10-19        0      0.0     -2.0
27360 2019-10-20        0      0.0     -2.0
28800 2019-10-21        0      0.0     -3.0
30240 2019-10-22        0      0.0     -3.0
31680 2019-10-23        0      0.0     -3.0
33120 2019-10-24        0      0.0     -2.0
34560 2019-10-25        0      0.0     -2.0
36000 2019-10-26        0      0.0     -2.0
37440 2019-10-27        0      0.0     -3.0
38880 2019-10-28        0      0.0     -2.0
40320 2019-10-29        0      0.0     -3.0
41760 2019-10-30        0      0.0     -3.0
43200 2019-10-31        0      0.0     -2.0

In [71]:
#using indexing calling every 1440th entry 
df = bsrn.iloc[
    ::1440
][
    ['DATE','SWU_Wm2','DIR_Wm2','DIF_Wm2']
]

In [72]:
bsrn.iloc[
    ::60 #getting every 60th row which is every hour on the hour
][
    'T_degC'
    ] #get this column single brackets to get a series back

0        16.2
60       18.2
120      18.0
180      17.9
240      18.1
         ...
44340    27.1
44400    23.6
44460    22.7
44520    22.0
44580    23.1
Name: T_degC, Length: 744, dtype: float64

In [73]:
#problem c
bsrn['DATE'] = pd.to_datetime(bsrn['DATE'])

In [74]:
bsrn

,DATE,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa,is_first_observation
0,2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966,True
1,2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966,False
2,2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966,False
3,2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966,False
4,2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44635,2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964,False
44636,2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964,False
44637,2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964,False
44638,2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964,False
44639,2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964,False

In [75]:
#set the date column as the index od the dataframe using set_index() method


bsrn = bsrn.set_index('DATE')

In [78]:
# practice 4 
# calculate the mean incoming shortwave, outgoing shortwave, incoming longwave, and outgoing longwave radiation over the entire data set 
print(bsrn.SWU_Wm2.mean())
print(bsrn.SWD_Wm2.mean())
print(bsrn.LWD_Wm2.mean())
print(bsrn.LWU_Wm2.mean())

110.44500448028674
318.0465157965494
342.35069187467764
455.0540322580645

In [81]:
#practice 5
#a. add a new column 'NET_SW' to bsrn with the net shortwave radiation
bsrn['NET_SW'] = bsrn['SWD_Wm2'] - bsrn['SWU_Wm2'] 
#b. add a new column 'NET_LW' to bsrn with the net longwave radiation
bsrn['NET_LW'] = bsrn['LWD_Wm2'] - bsrn['LWU_Wm2']
#c. add a new colymn net radiation to bsrn with net total radiation 
bsrn['NET_RAD'] = bsrn['SWD_Wm2'] - bsrn['SWU_Wm2'] + bsrn['LWD_Wm2'] - bsrn['LWU_Wm2']

In [82]:
bsrn

,H_m,SWD_Wm2,STD_SWD,DIR_Wm2,STD_DIR,DIF_Wm2,STD_DIF,LWD_Wm2,STD_LWD,SWU_Wm2,LWU_Wm2,T_degC,RH,P_hPa,is_first_observation,NET_SW,NET_LW,NET_RAD
DATE,,,,,,,,,,,,,,,,,,
2019-10-01 00:00:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.2,30.7,966,True,-3.0,-83.0,-86.0
2019-10-01 00:01:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.3,0,383,16.4,30.7,966,False,-3.0,-83.0,-86.0
2019-10-01 00:02:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.2,0,383,16.5,30.5,966,False,-3.0,-83.0,-86.0
2019-10-01 00:03:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.5,30.4,966,False,-3.0,-83.0,-86.0
2019-10-01 00:04:00,2,-3.0,0.0,0.0,0.0,-3.0,0.0,300.0,0.1,0,383,16.8,30.5,966,False,-3.0,-83.0,-86.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-10-31 23:55:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.6,964,False,-2.0,-43.0,-45.0
2019-10-31 23:56:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.1,35.5,964,False,-2.0,-43.0,-45.0
2019-10-31 23:57:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,380.0,0.1,0,423,23.0,35.3,964,False,-2.0,-43.0,-45.0
2019-10-31 23:58:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.2,0,423,23.0,35.2,964,False,-2.0,-42.0,-44.0
2019-10-31 23:59:00,2,-2.0,0.0,0.0,0.0,-2.0,0.0,381.0,0.1,0,423,23.1,35.0,964,False,-2.0,-42.0,-44.0

In [85]:
# data frame with daily mean values over the month of all these variables
# going to have to loop oover every day
#bsrn.index = date, pulling the days
daily_rad = []
#temporary variable is the first one possible , first day we will be getting the mean over that day. 
for d in bsrn.index.day.unique():
    avg_SWD = bsrn.SWD_Wm2[bsrn.index.day == d].mean()
    avg_SWU = bsrn.SWU_Wm2[bsrn.index.day == d].mean()
    avg_LWD = bsrn.LWD_Wm2[bsrn.index.day == d].mean() #add longwave downwelling
    avg_LWU = bsrn.LWU_Wm2[bsrn.index.day == d].mean() # add longwave 
    avg_NET_rad = bsrn.NET_RAD[bsrn.index.day == d].mean()
    daily_rad.append([d, avg_SWD, avg_SWU, avg_LWD, avg_LWU])
daily_RAD = pd.DataFrame(daily_rad, columns = ['avg_SWD','avg_SWU','avg_LWD','avg_LWU','avg_NET_rad'])
#appending the 
daily_RAD

    avg_SWD     avg_SWU     avg_LWD     avg_LWU  avg_NET_rad
0         1  325.336345  115.334028  321.219903   458.834028
1         2  322.732453  113.939583  318.131341   448.486111
2         3  298.635417  103.261806  330.516667   429.979861
3         4  323.209173  113.222222  314.129526   439.990972
4         5  296.861806  105.461806  324.660876   427.359722
5         6  292.118915  104.219444  330.458333   428.665278
6         7  339.848611  119.959722  303.437413   439.002778
7         8  332.009028  116.752778  313.126653   438.550000
8         9  290.577083  104.436806  342.506267   428.110417
9        10  310.887500  108.638889  331.667130   434.941667
10       11  312.226389  108.406250  350.486787   458.562500
11       12  313.099306  108.276389  375.387500   483.829167
12       13  292.540972   97.745833  389.507307   485.947222
13       14  210.243056   76.329167  390.913829   470.870139
14       15  294.886806   91.408333  399.457639   500.201389
15       16  322.011111  114.262500  400.745833   510.212500
16       17  306.800000  106.773611  390.968033   492.745833
17       18  298.656250  104.536111  364.097222   459.456944
18       19  314.968750  110.327083  365.431250   460.609028
19       20  329.323611  113.339583  357.791522   473.039583
20       21  338.721334  117.433333  340.713189   470.612500
21       22  338.259722  117.554861  325.689368   441.588194
22       23  354.881944  122.917361  306.553857   438.565972
23       24  344.563194  119.732639  319.499653   452.019444
24       25  261.228472   87.575000  344.902643   441.439583
25       26  345.552778  118.828472  337.203614   459.212500
26       27  356.714583  123.323611  309.846421   434.491667
27       28  358.297636  125.206944  303.482615   421.080556
28       29  352.906944  122.894444  322.271399   448.573611
29       30  357.626129  123.736806  331.607516   462.778472
30       31  323.794302  107.959722  356.192629   466.917361